<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>339359347681-tq6i2fv86dmd588p6s9h9he048uspt46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339359347681-tq6i2fv86dmd588p6s9h9he048uspt46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339359347681-vium5gok90ujagkaniqnuem0cgmfrjmh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRUjQa0BDbiFFtas33vI8DeyCPeuA7ha0</string>
	<key>GCM_SENDER_ID</key>
	<string>339359347681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.senati.iosapp</string>
	<key>PROJECT_ID</key>
	<string>senati-app</string>
	<key>STORAGE_BUCKET</key>
	<string>senati-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339359347681:ios:8b2c10c3d6d767e1</string>
	<key>DATABASE_URL</key>
	<string>https://senati-app.firebaseio.com</string>
</dict>
</plist>