#loginWrapper {
  background-color: #47525e;
  margin: 0;
  height: 100%;
}

@media (max-width: 767px) {
  #loginWrapper {
    background-color: #2a72f0 !important;
  }
}

#login {
  max-width: 540px;
  border-radius: 20px;
  background-color: #2a72f0;
  padding: 30px;
}

#loginForm {
  max-width: 280px;
  margin: 0 auto;
}

#loginForm a {
  color: white !important;
  text-align: left;
  display: block;
  padding-top: 20px;
  text-decoration: underline;
}
